{% extends "base.html" %}

{% block title %}Ver despachos{% endblock %}

{% block content %}
  <h2>Despachos</h2>
  
  {% if despachos %}
    <table border="1" cellpadding="6">
      <tr>
        <th>Guía</th>
        <th>Mensajero</th>
        <th>Zona</th>
        <th>Fecha de Despacho</th>
      </tr>
      
      {% for d in despachos %}
        <tr>
          <td>{{ d[0] }}</td>  <!-- Número de guía -->
          <td>{{ d[1] }}</td>  <!-- Mensajero -->
          <td>{{ d[2] }}</td>  <!-- Zona -->
          <td>{{ d[3] }}</td>  <!-- Fecha de Despacho -->
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No hay despachos.</p>
  {% endif %}
{% endblock %}
